@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cust-outer-container {
    background-color: #ffffff;
    max-width: 1500px;
    margin: 0 auto;
}

.cust-container {
    width: 95%;
    margin: 0 auto;
}